<form [formGroup]="registerForm">
    <wizard [(step)]="step" (finish)="onFinish()">
	  	<wizard-step>
			<label>Name:</label>
			<input type="text" formControlName="name"/>
			<!-- [formControl]="name"/> -->
		</wizard-step>
		<wizard-step>
			<label>Race:</label>
			<input type="text" formControlName="race"/>
			<!-- <p *ngIf="registerForm.controls.name.errors">This field is required!</p> -->
		</wizard-step>
		<wizard-step>
			<label>Age:</label>
			<!-- <input type="text" formControlName="age"/> -->
		</wizard-step>
		<wizard-step>
			<label>Class:</label>
			<!-- <input type="text" formControlName="class"/>
			<p *ngIf="registerForm.controls.class.errors">This field is required!</p> -->
		</wizard-step>
		<wizard-step>
			<label>Alignment:</label>		
			<!-- <input type="text" formControlName="alignment"/> -->
		</wizard-step>
		<wizard-step>
			<button type="submit">Create!</button>
		</wizard-step>
	</wizard>
<!-- 	<fieldset formGroupName="stats">
		<label>Strength:</label>
		<input type="text" formControlName="strength"/> -->
		<!-- <p *ngIf="registerForm.controls.stats.strength.errors">This field is required!</p> -->

<!-- 		<label>Dexterity:</label>
		<input type="text" formControlName="dexterity"/> -->
		<!-- <p *ngIf="registerForm.controls.dexterity.errors">This field is required!</p> -->

<!-- 		<label>Constitution:</label>
		<input type="text" formControlName="constitution"/> -->
		<!-- <p *ngIf="registerForm.controls.constitution.errors">This field is required!</p> -->

<!-- 		<label>Intelligence:</label>
		<input type="text" formControlName="intelligence"/> -->
		<!-- <p *ngIf="registerForm.controls.intelligence.errors">This field is required!</p> -->

<!-- 		<label>Wisdom:</label>
		<input type="text" formControlName="wisdom"/> -->
		<!-- <p *ngIf="registerForm.controls.wisdom.errors">This field is required!</p> -->

<!-- 		<label>Charisma:</label>
		<input type="text" formControlName="charisma"/> -->
		<!-- <p *ngIf="registerForm.controls.charisma.errors">This field is required!</p> -->
	<!-- </fieldset> -->
</form>